.pad {
  position: relative;
  display: grid;
  flex-shrink: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em 1em;
  height: 26em;
  width: 20em;
  background-color: var(--mantine-color-gray-4);
  padding: 4em 1em 4em;
  --corner-cut-size: 3em;
  clip-path: polygon(
    var(--corner-cut-size) 0,
    calc(100% - var(--corner-cut-size)) 0,
    100% var(--corner-cut-size),
    100% calc(100% - var(--corner-cut-size)),
    calc(100% - var(--corner-cut-size)) 100%,
    var(--corner-cut-size) 100%,
    0 calc(100% - var(--corner-cut-size)),
    0 var(--corner-cut-size)
  );
}
.pad::after {
  /* its a bar! */
  content: "";
  text-align: center;
  height: 1em;
  width: 60%;
  background-color: #222;
  border-radius: 1em;
  position: absolute;
  bottom: 1.5em;
  left: 20%;
}
.pad.disabled {
  opacity: 0.5;
}

.panel {
  outline: 2px solid var(--mantine-color-gray-5);
  position: relative;
  cursor: pointer;
}
.panel.selected {
  outline-color: var(--mantine-color-green-9);
}
.panel.disabled {
  outline-style: dashed;
  background-color: var(--mantine-color-gray-2);
}
.panel.disabled:hover {
  background-color: var(--mantine-color-gray-3);
  outline-color: var(--mantine-color-gray-6);
}
.panel:not(.disabled):hover {
  background-color: var(--mantine-color-gray-5);
  outline-color: var(--mantine-color-gray-6);
}
.panel.active {
  background-color: var(--mantine-color-green-4);
}
.panel.commErr {
  background-color: var(--mantine-color-error);
}

.fsr,
.loadCell {
  position: absolute;
  font-family: monospace;
}

.top {
  top: 0;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}

.fsr.vert {
  top: 50%;
}
.fsr.horiz {
  left: 50%;
}
