/* 
  The style rules specify elements by type and by attributes such as class and ID
  Each section indicates an element or elements, then lists the style properties to apply
  See if you can cross-reference the rules in this file with the elements in index.html
*/

/* Our default values set as CSS variables */
:root {
  --color-bg: white;
  --color-text-main: #000000;
  --color-primary: #FFFF00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

body {
  font-family: HK Grotesk;
  background-color: var(--color-bg);
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid currentColor;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transition-duration: 100ms;
  transition-property: transform, box-shadow;
  cursor: pointer;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}

button:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
}

button:focus {
  outline: 2px solid #322aa8;
  outline-offset: -2px;
}

.pad {
  float: right;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 1em 1em;
  height: 20em;
  width: 20em;
}
.panel {
  outline: 2px solid #ddd;
}
.panel.active {
  background-color: yellow;
}
