name: Status Checks
on:
  push:

jobs:
  biome:
    runs-on: ubuntu-latest
    name: Biome Lint
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 22
          cache: "yarn"
      - run: yarn --immutable
      - run: yarn lint:ci
  tsc:
    runs-on: ubuntu-latest
    name: Typescript
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 22
          cache: "yarn"
      - run: yarn --immutable
      - run: yarn typecheck
  test:
    runs-on: ubuntu-latest
    name: Tests
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 22
          cache: "yarn"
      - run: yarn --immutable
      - run: yarn test
  build:
    runs-on: ubuntu-latest
    name: Vite Build
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 22
          cache: "yarn"
      - run: yarn --immutable
      - run: yarn build

